body {
    margin: 0;
    margin-top:50px;
    padding: 0;
}

ul.menu{
    background-color: #45b;
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    
    width: 100%;
    height: 50px;
    
    margin: 0;
    padding: 0;
    top: 0;
    
    transition: height 0.5s;
    
    font-family: sans-serif;
}

ul.menu a{
    color: white;
    text-decoration: none;
}

ul.menu li.menu-button{
    float: right;
    margin: 0 30px;
}

ul.menu li.menu-item{
    margin: 0 15px;
}

ul.menu li.menu-title{
    margin: 0 15px;
}


ul.menu li.menu-button a{
    height:50px;
    line-height:50px;
    display: inline-block;
    font-size: 20px;
}

ul.menu li.menu-title a{
    height:50px;
    line-height:50px;
    display: inline-block;
    font-size: 20px;
}

ul.menu li.menu-item a{
    height:50px;
    line-height:50px;
    display: block;
    font-size: 17px;
    transition: padding 0.1s, color 0.2s;
}



div.page-section{
    margin: 0;
    padding: 15px;
    
    font-size: 18px;
    font-family:"Helvetica-Light";
}

div.page-section h1.page-section-title{
    font-family:"Helvetica";
    font-weight:400;
}

#news.page-section div.post-list div.post-container{
    font-family: "Helvetica";
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    font-size: 13px;
}

#news.page-section div.post-list div.post-container h1{
    margin-top: 0px;
}